.buttonIcon{
    inline-size: 2.5rem;
    block-size: 2.5rem;
    background: transparent;
    cursor: pointer;
    color: var(--gray10);
    border: none;
}

.buttonIcon.is-white{
    background: var(--white);
    color: var(--gray50);
    border-radius: 50%;
    border: none;
}

.buttonIcon.is-primary{
    background: var(--primary);
    color: var(--white);
    border-radius: 50%;
    border: none;
}
.buttonIcon .icon-play{
    position: relative;
    left: 1px;
    top: 1px;
}


.buttonIcon:hover:is([class*='is-']){
    box-shadow: 0 8px 8px rgba(0,0,0,.3);
}

.buttonIcon:active{
    transform: scale(0.95);
}