
@import './playlist-list.css';
@import './search.css';
@import './navigation.css';
@import './header.css';
@import './sticky.css';

.page{
  padding-inline-start: 2em;
  padding-inline-end: 2em;
  padding-block-end: 2em;
}


.page-block{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.page-block .header{
    margin-block-end: 2rem;
    margin-inline-start: -2rem;
    margin-inline-end: -2rem;
    /* border: 1px solid yellow; */
}