.playlistA{
    inline-size: 11.375rem;
    padding: 1rem;
    border-radius: 0.25rem;
    background: var(--gray40);
    box-sizing: border-box;
    /* border: 1px solid red; */
    transition: 0.3s background;
}

.playlistA-cover img{
    vertical-align: middle;
    inline-size: 100%;
    block-size: auto;
    
}

.playlistA-cover{
    position: relative;
    /* width: 150px; */
    border-radius: 0.75rem;
    overflow: hidden;
    margin-block-end: 1rem;
}

.playlistA button{
    position: absolute;
    right: .5rem;
    bottom: .5rem;
    opacity: 0;
    transform: translateY(0.5rem);
    will-change: opacity, transform;
    transition: .3s opacity, 0.3s transform;

}


.playlistA-title{
    font: var(--baseFontBold);
    color: var(--white);
    margin: 0;
}

.playlistA-description{
    font: var(--baseFont);
    margin: 0;
}


.playlistA:hover .playlistA-cover button,
.playlistA:focus-within .playlistA-cover button{
    opacity: 1;
    transform: translateY(0);
}

.playlistA:hover, .playlistA:focus-within{
    cursor: pointer;
    background: var(--gray30);
}

