.search{
    position: relative;
    /* overflow: hidden; */
    /* flex-shrink: 0;
    flex-grow: 1; */
    flex: 1;
}


.search i{
    position: absolute;
    font-size: 1rem;
    left: 0.5rem;
    top: calc(50% - 0.5rem);
    block-size: 1rem;
    color: var(--gray10);
}

.search input{
    border: none;
    color: var(--gray30);
    border-radius: 1.25rem;
    max-inline-size: 22rem;
    width: 100%;
    padding: 0.5rem;
    padding-inline-start: 2rem;
    font: var(--baseFont);
}

.search:focus-within i{
    color: var(--gray30);
}
.search input::-webkit-input-placeholder{
    color: var(--gray10);
}