.justifyContent{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 1px solid blue;
    gap: 2rem;
}
.spaceBetween{
    border: 1px solid tomato;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.spaceBetween ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    text-decoration: none;
}
.spaceBetween img{
    height: 50px;
    border-radius: 50%;
}